header {
    background-color: #BBBBBB;
    padding: 10px 0;
}

.container {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline-block;
    margin-left: 15px;

}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;

}