header {
    background-color: #BBBBBB;
}

nav li {
    display: inline-block;
    margin-left: 15px;

}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;

}